html{
    height:100%;
}

body{
    height:100%;
    width:100%;
}

body{
    background: #E5E5E5;
}

table{
    width:100%;
    height:100%;
    text-align:center;
}


#gps{
    background: url("/static/icon/gps.svg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    width:50%;
    height:50%;
    border: 0;
}

#searchbar {
    background: black;
    height: 10%;
    width: 100%;
}


#searchtextbar{
    height: 65%;
    width: 100%;
    background: white;
    border-radius: 10px;
    border:0;
    text-align: left;
}

#searcht{
    width: 75%;
}

#searchbutton{
    background:url("/static/icon/search.svg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    border:0;
    width:50%;
    height:50%;
}

#terminalType{
    margin-top:1.5%;
    width: 100%;
    height: 6%;
}

#tabt_nub{
    height:100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 20px;
    border: 0px;
    background:#D0D0D0;
    width:50%;
    padding: 0px;
}

#tabt_bus{
    height:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 5px;
    border: 0px;
    background: white;
    width:50%;
    padding: 0px;
}

#nubijabutton{
    background: url("/static/icon/bicycle.svg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    height:80%;
    width:80%;
    border: 0;
}

#busbutton{
    background: url("/static/icon/bus.svg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    width:80%;
    height:80%;
    border: 0;
}

#map{
    height:100%;
}