#search {
    background: black;
    height: 20%;
}

form, html, body, #contents {
    width:100%;
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
}

table{
    width: 100%;
    height: 100%;
}

td{
    text-align:center;
}

#swapsector{
    position:absolute;
    width:15%;
    height:20%;
    left:0;
    top:0;
}

#formsector{
    position:absolute;
    width:70%;
    height:20%;
    left:15%;
    top:0;
}

#gpstable{
    position:absolute;
    width:15%;
    height:20%;
    right:0;
    top:0;
}

#swap{
    background: transparent;
    border: 0;
}

#destinations, #departures{
    width: 100%;
    height: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: left;
    font-size: 14pt;
    font-family: "nanumgothic";
}

#desBlank, #depBlank{
    width:75%;
    height: 20%;
}

#maps {
    width: 100%;
    height : 80%;
    z-index: 1;
}

#weather {
    position: absolute;
    height: 80px;
    width: 80px;
    bottom: 30px;
    right: 30px;
    z-index: 2;
    background: black;
    border-radius: 50%;
}

#mapGps {
    position: absolute;
    height: 80px;
    width: 80px;
    bottom: 120px;
    right: 30px;
    z-index: 2;
    background: black;
    border-radius: 50%;
}

#mapGpsButton, #departureGpsIcon, #destinationGpsIcon {
    background: transparent;
    height: 100%;
    width: 100%;
    border: 0;
}

#weatherbtn {
    background: transparent;
    height: 100%;
    width: 100%;
    border: 0;
}

#weatherIcon{
    height: 80%;
    width: 80%;
}

#mapGpsIcon{
    height:70%;
    width:70%;
}