#search {
    background: black;
    height: 20%;
}

form, html, body, #contents {
    width:100%;
    height: 100%;
}

body{
    margin:0;
}

table{
    width: 100%;
    height: 100%;
    text-align: center;
}

td{
    text-align:center;
}

#swapicon{
    width:15%;
    height: 100%;
    padding:0;
}

#swap{
    background: transparent;
    border: 0;
    padding:0;
    text-align: center;
    width:100%;
    height: 100%;
}

#destination, #departure{
    width: 95%;
    height: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    border:0;
    text-align: left;
    font-size: 14px;
}

.blank{
    width:75%;
    padding:0;
}

#navi{
    width:100%;
    height:10%;
}

#navilist{
    background:white;
}

.naviSample{
    width: 100%;
    height: 80px;
    background: white;
}

.naviicon{
    height:60px;
    width:60px;
    padding:0;
    margin:0;
    text-align: center;
}

.icon{
    width: 50%;
    height: 50%;
}

.navitxt{
    font-size: 12pt;
    text-align:left;
    padding-left:5%;
}