html{
    height:100%;
}

body, form{
    height:100%;
    width:100%;
}

body{
    background: #E5E5E5;
}

table{
    width:100%;
    height:100%;
    text-align:center;
}


#gps{
    background: url("/static/icon/gps.svg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    width:50%;
    height:50%;
    border: 0;
}

#searchbar {
    background: black;
    height: 10%;
    width: 100%;
}


#searchtextbar{
    height: 65%;
    width: 100%;
    background: white;
    border-radius: 10px;
    border:0;
    text-align: left;
    font-size:14pt;
}

#searcht{
    width: 75%;
}

#searchbutton{
    background:url("/static/icon/search.svg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    border:0;
    width:50%;
    height:50%;
}

#navilist{
    background:white;
}

.naviSample{
    height:80px;
    width:100%;
    background:white;
    text-align:left;
}

.naviicon{
    width:20%;
    height:80px;
    text-align:center;
}

.icon{
    width:80%;
    height:80%:
}

.navitxt{
    padding-left:5%;
}

#placename{
    font-size: 14pt;
    top: 10%;
    left: 20%;
}

#nubijainfo{
    font-size: 12pt;
    top: 20%;
    left: 20%;
}

input{
    background:transparent;
    border:0;
}

#map{
    height:100%;
}