#searchbar {
    background: black;
    height: 10%;
    width: 100%;
}

html{
    height:100%;
}

body, #log, #output{
    height:100%;
    width:100%;
}

body{
    background: #E5E5E5;
}

table{
    width:100%;
    height:100%;
    text-align:center;
}

#gps{
    background: url("/static/icon/gps.svg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    width:50%;
    height:50%;
    border: 0;
}

#searchtextbar{
    height: 65%;
    width: 100%;
    background: white;
    border-radius: 10px;
    border:0;
    text-align: left;
}

#searcht{
    width: 75%;
}

#searchbutton{
    background:url("/static/icon/search.svg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    border:0;
    width:50%;
    height:50%;
}

#recentbutton{
    width: 100%;
    height:100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 20px;
    border: 0px;
    background:white;
}

#bookmarkbutton{
    width:100%;
    height:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 5px;
    border: 0px;
    padding:0;
    background:#D0D0D0;
}

#tab{
    margin-top:1.5%;
    width: 100%;
    height: 5%;
}

#tabt{
    width:50%;
    padding: 0px;
}

#recentlist{
    width:100%;
}

#recenttable{
    width:100%;
    height:80px;
    background:white;
}

#starbutton{
    background: url("/static/icon/star_empty.svg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    width:80%;
    height:80%;
    border: 0;
}

#deletebtn{
    background: url("/static/icon/x.svg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    width:80%;
    height:60%;
    border: 0;
}

#placename{
    width:70%;
    height:100%;
    padding-left:0;
    padding-right:0;
    text-align: left;
    background: transparent;
    border:0;
    padding:0;
}

#placeIconStyle{
    width:20%;
    height: 100%;
    padding:0;
    margin:0;
}

#placeframe{
    width:100%;
    height:10%;
    background: white;
}

#placenamet{
    padding:0;
}