<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="searchSection">
        <table>
            <td>
                <input id="gps" value="gps버튼" type="button">
            </td>

            <td>
                <input id="searchbar" type="text">
            </td>
            <td>
                <input id="searchbutton" value="검색버튼" type="button" onclick="location.href='searchText'">
            </td>
        </table>
    </div>
    <div id="terminalType">
        <table>
                <td>
                    <input type="button" id = "recentbutton" value="누비자btn"  onclick="location.href='nubijaSelect'">
                </td>
                <td>
                    <input type="button" id = "bookmarkbutton" value="버스btn" disabled onclick="">
                </td>
            </table>
    </div>
    <div id="map">
        <h1>여기에 지도 나옴</h1>
    </div>
</body>
</html>