<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='mainpagecss.css')}}">
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=766c51f119f8a0c2e82527a8d5f309d4"></script>
        <title>2B</title>
    </head>
    <body>
        <div  id="search" ; class="search" >
            <table>
            <tr>
                <td rowspan="2">
                    <button id="swap" onclick=""><img src="#"></button>
                </td>
                <td>
                    <button id="departure" onclick="location.href='#'" ><img src="{{ url_for('static', filename='') }}"></button>
                </td>
                <td>
                    <img id="departureGpsIcon" src="#">
                </td>
            </tr>
            <tr>
                <td>
                    <button id="destination" onclick="location.href='#'" ><img src="{{ url_for('static', filename='') }}"></button>
                </td>
                <td>
                    <img id="destinationGpsIcon" src="#">
                </td>
            </tr>
        </table>
        
        </div>

        <div id="asdf">
            <div id="maps" style=" position: static; width: 100% ; height : 500px ; z-index: 1">
                <script>
                    var mapContainer = document.getElementById('maps'), mapOption = {
                        center : new kakao.maps.LatLng(35.228002, 128.681816),
                        level : 3
                    };

                    var map = new kakao.maps.Map(mapContainer, mapOption);

                </script>
            </div>
            <div id = "weather" style="position: relative;top: -350px ;left: 700px;z-index: 2">
                <button id="weatherbtn" onclick="location.href='weather'"><img id="weatherIcon" width="300px" height="300px" src={{ url_for('static', filename='photo_2019-11-17_22-18-21.jpg') }}></button>
            </div>

        </div>



        
    </body>
</html>