<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/mainpagecss.css">
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d155970b5dc0709bd8c126d837d285f9"></script>
    <title>뚜비 : Main</title>
</head>

<body>
    <div id="search" class="search">
        <div id='swapsector'>
            <table>
                <tr>
                    <td rowspan="2">
                        <button id="swap" onclick="location.href='/swap'"><img src="/static/icon/arrow.svg"></button>
                    </td>
                </tr>
            </table>
        </div>
        <div id='formsector'>
            <form action="searchRecent" method="POST">
                <input type="hidden" id="sel" name="sel" value="aa">
                <table>
                    <tr>
                        <td class="blank" id="depBlank">
                            {% if sel == "depart" %}
                            <input name="departure" type="submit" onclick="departclick()" id="departures"
                                value="{{name}}">
                            {% else %}
                            <input name="departure" type="submit" onclick="departclick()" id="departures" value="출발지">
                            {% endif %}

                            <input id='departLat' type="hidden" name="departureLat" value="00">
                            <input id='departLong' type="hidden" name="departureLong" value="00">
                        </td>
                    </tr>
                    <tr>
                        <td class="blank" id="desBlank">
                            {% if sel == "dest" %}
                            <input name="destination" type="submit" onclick="destclick()" id="destinations"
                                value="{{ name }}">
                            {% else %}
                            <input name="departure" type="submit" onclick="destclick()" id="destinations" value="도착지">
                            {% endif %}

                            <input id='destLat' type="hidden" name="destureLat" value="00">
                            <input id='destLong' type="hidden" name="destLong" value="00">
                        </td>
                    </tr>
                </table>
                <input id='hiddenuserLat' type="hidden" name="hiddenLat">
                <input id='hiddenuserLong' type="hidden" name="hiddenLong">
            </form>
        </div>
        <div id='gpstable'>
            <table>
                <tr>
                    <td>
                        <form action="/nubijaSelect" method="POST">
                            <input type="submit" class="depLoc" id="departureGpsIcon" onclick="gpsData(this)" value=" ">
                            <input type="hidden" name="sel" value="depart">
                            <input type=hidden name="name" class="depLoc">
                            <input type='hidden' name="selX" class="depLoc">
                            <input type='hidden' name="selY" class="depLoc">

                <input class="depLoc" type="hidden" name="hiddenLat">
                <input class="depLoc" type="hidden" name="hiddenLong">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/nubijaSelect" method="POST">
                            <input type="submit" class="destLoc" id="destinationGpsIcon" onclick="gpsData(this)"
                                value=" ">
                            <input type="hidden" name="sel" value="dest">
                            <input type=hidden name="name" class="destLoc">
                            <input type='hidden' name="selX" class="destLoc">
                            <input type='hidden' name="selY" class="destLoc">

                <input type="hidden" name="hiddenLat">
                <input type="hidden" name="hiddenLong">
                        </form>
                    </td>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div id="contents">
        <div id="maps"></div>
        <div id="mapGps">
            <button id="mapGpsButton">
                <img id="mapGpsIcon" src="/static/icon/gps.svg">
            </button>
        </div>
        <div id="weather">
            <button id="weatherbtn" onclick="location.href='weather'"><img id="weatherIcon" src={{ weather }}></button>
        </div>
    </div>
    <script type="text/javascript" src="/static/mainpage.js"></script>

</body>

</html>
