<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/navigation_bus.css">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div  id="search" class="search" >
            <table>
            <tr>
                <td rowspan="2">
                    <button id="swap" onclick=""><img src="/static/icon/arrow.svg"></button>
                </td>
                <td class="blank">
                    <input id="departure" type="button" onclick="location.href = 'searchRecent'" value="출발지">
                </td>
                <td>
                    <img id="departureGpsIcon" src="/static/icon/gps.svg">
                </td>
            </tr>
            <tr>
                <td class="blank">
                    <input id="destination" type="button" onclick="location.href = 'searchRecent'" value="도착지">
                </td>
                <td>
                    <img id="destinationGpsIcon" src="/static/icon/gps.svg">
                </td>
            </tr>
        </table>

    </div>
    <div id="terminalType">
        <table>
                <td id="tabt_nub">
                    <input type="button" id = "nubijabutton" onclick="location.href='naviNubija'" >
                </td>
                <td id="tabt_bus">
                    <input type="button" id = "busbutton" disabled>
                </td>
            </table>
    </div>
    <div id="navi">
        <table id="navilist">
            <tr class="naviSample" id="navisample">
                <td class = "naviicon" id="iconc"><img id="icon" src="/static/icon/bus.svg"></td>
                <td id="navitxt">노선샘플</td>
            </tr>
        </table>
    </div>
</body>
</html>