<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/navigation_nubija.css">
    <title>2B : Navigation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="search" class="search">
        <table>
            <tr>
                <td id="swapicon" rowspan="2">
                    <button id="swap" onclick="location.href='/'"><img src="/static/icon/home.svg"></button>
                </td>
                <td class="blank">
                    <input id="departure" type="button" value="{{ start }}">
                </td>
            </tr>
            <tr>
                <td class="blank">
                    <input id="destination" type="button" value="{{ end }}">
                </td>
            </tr>
        </table>

    </div>
    <div id="navi">
        <table id="navilist">
            {% if isError == True %}
                <script>
                        alert("에러가 발생했습니다.\n메인화면으로 되돌아갑니다.");
                        window.location.href = '/';
                </script>
            {% else %}
            {% for i in tem %}
            <tr class="naviSample">
                <td class="naviicon"><img class="icon" src="{{ icons[loop.index0] }}"></td>
                <td class="navitxt">{{ i[0] }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</body>

</html>