<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/nubija_terminal_select.css">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div id="searchbar">
        <table>
            <td>
                <input id="gps" type="button">
            </td>

            <td id="searcht">
                <input id="searchtextbar" type="text">
            </td>
            <td>
                <input id="searchbutton" type="button" onclick="location.href='searchText'">
            </td>
        </table>
    </div>
    <div id="terminalType">
        <table>
                <td id="tabt_nub">
                    <input type="button" id = "nubijabutton" disabled>
                </td>
                <td id="tabt_bus">
                    <input type="button" id = "busbutton" onclick="location.href='busterminalSelect'">
                </td>
            </table>
    </div>
    <div id="map">
        <h1>여기에 지도 나옴</h1>
    </div>

</body>
</html>