<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/search_recent.css">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div id = "searchbar">
        <table>
            <td>
                <input id="gps" type="button">
            </td>

            <td id="searcht">
                <input id="searchtextbar" type="text">
            </td>
            <td>
                <input id="searchbutton" type="button" onclick="location.href='searchText'">
            </td>
        </table>
    </div>
    <div id = "output">
        <div id = "log">
            <table id="tab">
                <td id="tabt">
                    <input type="button" id = "recentbutton" value="최근기록"  disabled>
                </td>
                <td id="tabt">
                    <input type="button" id = "bookmarkbutton" value="북마크" onclick="location.href='searchBookmark'">
                </td>
            </table>
            <div class="recentlist">
                <table id = "recenttable">
                    <tr class="recentSample" id="placeframe">
                        <td class = "bookmarkstar" id="placeIconStyle"><input id="starbutton" type="button"></td>
                        <td id="placenamet"><input class="place" type="button" id="placename" value="위치1"></td>
                        <input class="coordinateX" type="hidden" value="">
                        <input type="hidden" class="coordinateY" value="">
                        <td class="deleteicon" id="placeIconStyle"><input id="deletebtn" type="button"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>