<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/search_text.css">
    <title>Title</title>
</head>
<body>
    <div id = "searchbar">
        <table>
            <td>
                <input id="gps" type="button">
            </td>

            <td id="searcht">
                <input id="searchtextbar" type="text">
            </td>
            <td>
                <input id="searchbutton" type="button" onclick="location.href='searchText'">
            </td>
        </table>
    </div>
<div id = "output">
        <div id = "log">
            <div class="bookmarklist">
                <table id = "bookmarktable">
                    <tr class="bookmarkSample" id="placeframe">
                        <td class = "bookmarkstar"  id="placeIconStyle"><input id="starbutton" type="button"></td>
                        <td id="placenamet"><input class="place" type="button" id="placename" value="위치1"></td>
                        <input class="coordinateX" type="hidden" value="">
                        <input type="hidden" class="coordinateY" value="">
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>