<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id = "searchbar">
        <table>
            <td>
                <input id="gps" value="gps버튼" type="button">
            </td>

            <td>
                <input id="searchbar" type="text">
            </td>
            <td>
                <input id="searchbutton" value="검색버튼" type="button">
            </td>
        </table>
    </div>
<div id = "output">
        <div id = "log">
            <div class="bookmarklist">
                <table id = "bookmarktable">
                    <tr class="bookmarkSample">
                        <td class = "bookmarkstar"><input id="bookmark button" type="button" value="북마크"></td>
                        <td><input class="place" type="button"  value="위치1"></td>
                        <input class="coordinateX" type="hidden" value="">
                        <input type="hidden" class="coordinateY" value="">
                    </tr>

                </table>
            </div>
        </div>
    </div>
</body>
</html>