<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/search_text.css">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div id = "searchbar">
        <table>
            <td>
                <input id="gps" type="button">
            </td>
            <form action="searchText", method="POST">
                <input type="hidden" name = "sel" value='{{ sel }}'>
            <td id="searcht">
                <input id="searchtextbar" name="seartext" type="text">
            </td>
            <td>
                <input id="searchbutton" type="submit">
            </td>
            </form>
        </table>
    </div>
<div id = "output">
        <div id = "log">


            <div class="bookmarklist">
                <table class = "bookmarktable">
                                                {% for i in result %}
                        <tr class="placeframe">
                    <td class="placenamet">
                            <input class="cl{{ loop.index }}" type="submit" id="placename" onclick="setLocationAsBM(this)" value="{{ i['name'] }}">
                            <input type="hidden" class="cl{{loop.index }}" value="{{ i['x'] }}">
                            <input type="hidden" class="cl{{loop.index }}" value="{{ i['y'] }}">
                    </td>
                        </tr>
                                                                                        {% endfor %}
                </table>


            </div>


        </div>
    </div>
</body>
</html>