<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/search_recent.css">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div id = "searchbar">
        <table>
            <td id="gpst">
                <input id="gps" type="button">
            </td>
            <form action="/searchText" method="POST">
            <td id="searcht">
                <input type="hidden" name = "sel" value='{{ sel }}'>
                <input id="searchtextbar" name="seartext" type="text">
                <input id='hiddenuserLat' type="hidden" name="hiddenLat" value="{{ hiddenLat }}">
                <input id='hiddenuserLong' type="hidden" name="hiddenLong" value="{{ hiddenLong }}">
            </td>
            <td id="searchBt">
                <input id="searchbutton" type="submit">
            </td>
            </form>
        </table>
    </div>
    <div id = "output">
        <div id = "log">
            <table id="tab">
                <td class="tabt" id="recentTab">
                    <input type="button" id = "recentbutton" value="최근기록"  disabled>
                </td>
                <td class="tabt" id="BookmarkTab">
                    <form action="searchBookmark" method="POST">
                            <input id='hiddenuserLat' type="hidden" name="hiddenLat" value="{{ hiddenLat }}">
                            <input id='hiddenuserLong' type="hidden" name="hiddenLong" value="{{ hiddenLong }}">
                        <input type="hidden" name = "sel" value="{{ sel }}">
                        <input type="submit" id = "bookmarkbutton" value="북마크">
                    </form>
                </td>
            </table>
            <form method="POST">

            <div class="recentlist">
                <input type="hidden" name = 'selname' id = 'selectedName'>
                <input type="hidden" name = 'selX' id = 'selectedX'>
                <input type="hidden" name = 'selY' id="selectedY">
                <input type="hidden" name = "sel" id="selectedValue" value='{{ sel }}'>
                                        <input id='hiddenuserLat' type="hidden" name="hiddenLat" value="{{ hiddenLat }}">
                            <input id='hiddenuserLong' type="hidden" name="hiddenLong" value="{{ hiddenLong }}">
                {% if resultList|length != 0 %}

                <table id = "recenttable">
                    {% for i in resultList %}
                        {% set loopidx = loop %}
                        {%  for k, v in i.items() %}
                        <tr id="id{{ loopidx.index }}" class="placeframe cl{{loopidx.index }}">


                            <td class = "placeIconStyle">
                                <button class="starbutton cl{{loopidx.index}}" formaction="/manageBook" onclick="setLocationAsR(this)"><img src="/static/icon/star_empty.svg"></button>
                            </td>

                            <td class="placenamet">
                                <input class="placetxt cl{{ loopidx.index }}" type="submit" formaction="/main" onclick="setLocationAsR(this)" value="{{ k }}">
                            </td>
                                <input type="hidden" class="cl{{loopidx.index }}" value="{{ i[k]['x'] }}">
                                <input type="hidden" class="cl{{loopidx.index }}" value="{{ i[k]['y'] }}">
                        </tr>
                        {% endfor %}

                    {% endfor %}

                </table>
                {% else %}
                    <img src="/static/icon/warning.svg" id="emptylist">
                    <p id="emtpytext">값이 존재하지 않습니다.</p>
                {% endif %}

            </div>
                                        </form>

        </div>
    </div>
    <script type="text/javascript" src="/static/bookmarkSet.js"></script>
</body>
</html>