<!DOCTYPE html>
<head>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/weather.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <div id="weather" onclick="location.href='main'">
        <div id="icon">

            <img id="weather_icon" src='/static/icon/weather/cloud.svg'>
        </div>
        <div id="temp">
            <font size="40px" id="tempf">{{ temp }}도</font>
        </div>
    </div>
</body>
</html>